
    /* Navbar */
    .navbar {
      box-shadow: 0 5px 4px rgba(99, 85, 85, 0.293);
    }

    .navbar-nav .nav-link {
      font-size: 1.3rem;
    }

    .navbar-nav .nav-link:hover {
      color: #ed1cb9;
      text-transform: uppercase;
    }

    /* Seccion figuras */
    .thumbnail {
      cursor: pointer;
      border: 2px solid transparent;
      transition: 0.3s;
      width: 60px;
      height: 60px;
      object-fit: cover;
    }

    .thumbnail:hover,
    .thumbnail.active {
      border: 2px dotted #36e2f1;
    }

    .main-image {
      cursor: pointer;
      max-width: 100%;
      max-height: 200px; /* Ajusta esta altura según tus necesidades */
      width: auto;
      height: auto;
      display: block;
      margin: 0 auto; /* Centra la imagen horizontalmente */
    }

    .figure-container {
      height: 500px; /* Ajusta esta altura según tus necesidades */
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center; /* Centra el contenido horizontalmente */
    }

    .figure-container img {
      max-height: 200px; /* Ajusta esta altura según tus necesidades */
      width: auto;
    }

    /* Redes sociales */
    .social-icons i {
      font-size: 1.5rem;
      transition: color 0.3s ease-in-out;
    }

    .social-icons i.bi-facebook:hover {
      color: #1877F2;
    }

    .social-icons i.bi-instagram:hover {
      color: #E4405F;
    }

    .social-icons i.bi-whatsapp:hover {
      color: #28f21d;
    }